/* section for grid formatting */

.item1 {grid-area: header;}
.item2 {grid-area: nav;}
.item3 {grid-area: section;}
.item4 {grid-area: aside;}
.item5 {grid-area: article;}
.item6 {grid-area: footer;}

.grid-container {
  display: grid;
  /*grid-template-columns: 33% 33% 34%;*/
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'section section aside'
    'article article aside'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

.grid-item {
  background-color: white;
}

/* inline nav bar*/


/* main semantic tag formatting */
body {background-color: cyan;}
nav, main {padding: 15px;}
footer p {text-align: center;}

h1 {
  color: black;
  text-align: center;
  padding: 10px;
}

h5 {
  background-color: black;
  color: white;
}

h6 {text-align: right;}

a:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
