/* section for grid formatting */

/*.item1 {grid-area: header; background-color: red;}
.item2 {grid-area: nav; background-color: orange; padding: 0px;}
.item3 {grid-area: section; background-color: yellow; padding: 10px;}
.item4 {grid-area: aside; background-color: green; padding: 10px;}
.item5 {grid-area: article; background-color: blue; padding: 10px;}
.item6 {grid-area: footer; background-color: purple; padding: 10px;}*/

.item1 {grid-area: header; background-color: rgb(235, 112, 208);}
.item2 {grid-area: nav; background-color: gray; padding: 0px;}
.item3 {grid-area: section; background-color: rgb(223, 223, 53); padding: 10px;}
.item4 {grid-area: aside; background-color: rgb(115, 69, 190); padding: 10px;}
.item5 {grid-area: article; background-color: rgb(99, 241, 229); padding: 10px;}
.item6 {grid-area: footer; background-color: purple; padding: 10px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'section section aside'
    'article article aside'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

/* main semantic tag formatting */
body {background-color: black;}
nav, main {padding: 15px;}
footer p {text-align: center;}

p {font-size: 1.2em;}

h1 {
  color: black;
  text-align: center;
  padding: 10px;
}

h5 {
  background-color: black;
  color: white;
}

h6 {text-align: right;}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

b {
  color: black;
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

nav.inline-nav ul li {display: inline;}

.navbutton {
  background-color: rgb(30, 255, 0);
  padding: 15px;
  margin: 3px;
  border: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

.artbutton {
  background-color: black;
  padding: 15px;
  margin: 3px;
  border: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}