body {
  background-color: cyan;
}

h1 {
  color: black;
  text-align: center;
  padding: 10px;
}

h5 {
  background-color: black;
  color: white;
}

a:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}

h6 {
  text-align: right;
}

nav {
  padding: 15px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

main {
  padding: 15px;
}

footer p {text-align: center;}

/* Section for Lab 4 recipe formatting */
p.recipe {
  font-style: italic;
}

h2.recipe, h4.recipe {
  font-family: helvetica;
  font-style: italic;
}

ul.recipe {
  list-style-type: none;
}

/* Section for Lab 4 recipe formatting */
p.recipe {font-style: italic;}
h2.recipe {font-family: helvetica;}
ul.recipe {list-style-type: none;}
r.meat {background-color: rgba(255, 0, 0, 0.76);}
r.veggie {background-color: rgba(0, 255, 0, 0.76);}
r.dairy {background-color: rgba(255, 255, 0, 0.76);}

/* Section for grid formatting */

.item1 {grid-area: header;}
.item2 {grid-area: nav;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    'header header header'
    'nav main main'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

.grid-item {
  background-color: white;
}

/*.grid-container-3col {
  display: grid;
  grid-template-areas:
    header header;
    nav left main;
    footer footer;
}*/