body {
  background-color: cyan;
}

h1 {
  color: black;
  text-align: center;
  background-color: white;
  padding: 10px;
}

h5 {
  background-color: black;
  color: white;
}

nav {
  color: white;
}

h6 {
  text-align: right;
}