body {
  background-color: cyan;
}

h1 {
  color: black;
  text-align: center;
  background-color: white;
  padding: 10px;
}

h5 {
  background-color: black;
  color: white;
}

nav {
  color: white;
  float: left;
  width: 20%;
}

h6 {
  text-align: right;
}

/* Section to build the grid layout */

main {
  float: right;
  width: 80%;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%
}

a:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}